<a href="https://colab.research.google.com/github/ChandiniKS/Machine-Learning1/blob/main/house_rent_prediction_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv("/content/Housing (1).csv")

In [ ]:
data.head(10)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
5,10850000,7500,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
6,10150000,8580,4,3,4,yes,no,no,no,yes,2,yes,semi-furnished
7,10150000,16200,5,3,2,yes,no,no,no,no,0,no,unfurnished
8,9870000,8100,4,1,2,yes,yes,yes,no,yes,2,yes,furnished
9,9800000,5750,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished

In [ ]:
data["mainroad"]=data['mainroad'].apply({'yes':1,'no':0}.get)

In [ ]:
data["guestroom"]=data["guestroom"].apply({'yes':1,'no':0}.get)

In [ ]:
data["basement"]=data["basement"].apply({'yes':1,'no':0}.get)

In [ ]:
data["hotwaterheating"]=data["hotwaterheating"].apply({'yes':1,'no':0}.get)

In [ ]:
data["airconditioning"]=data["airconditioning"].apply({"yes":1,"no":0}.get)

In [ ]:
data["furnishingstatus"]=data["furnishingstatus"].apply({"furnished":3,"semi-furnished":2,"unfurnished":0}.get)

In [ ]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,yes,3
1,12250000,8960,4,4,4,1,0,0,0,1,3,no,3
2,12250000,9960,3,2,2,1,0,1,0,0,2,yes,2
3,12215000,7500,4,2,2,1,0,1,0,1,3,yes,3
4,11410000,7420,4,1,2,1,1,1,0,1,2,no,3

In [ ]:
data["prefarea"]=data["prefarea"].apply({"yes":1,"no":0}.get)

In [ ]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,3
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,3
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,2
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,3
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,3

In [ ]:
x=data[['airconditioning','area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','parking','prefarea','furnishingstatus']]

In [ ]:
y=data['price']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8)

In [ ]:
from sklearn.linear_model import LinearRegression
linear_model=LinearRegression()

In [ ]:
linear_model.fit(x_train,y_train)

LinearRegression()

In [ ]:
y_pred=linear_model.predict(x_test)

In [ ]:
print(y_pred)

[5757266.29256372 2831476.80287317 3570129.77382794 3419778.8725713
 4305480.69802942 3628591.29341859 7049389.14047575 6452613.7129342
 4050769.05739211 3502701.18314033 6176126.76242891 3027023.76292559
 8106378.2159208  4271125.53652204 3343370.28376795 7192808.8372241
 8034590.50363125 3641480.07333943 5293891.4929243  6459167.94406408
 4403729.14431281 7874880.60496019 6353927.65009133 6660358.24413957
 2809522.42504991 3088096.94825661 7858080.89264344 4889056.2374907
 5130421.94509686 5741813.35305777 4066146.27175796 2933034.49333736
 4919377.08046816 7023988.53712883 5208068.15543451 5002645.49095399
 2841342.74902806 4192553.92009037 4959391.04499545 5840627.30139943
 3585351.21129142 6458643.09957599 4711103.37662174 4544535.14055145
 3182693.03007456 3066436.14069421 5837286.98233951 3609459.400416
 4539250.92133409 3785423.73708191 2748306.79153451 2865333.35965181
 3045797.90322752 3069988.84353266 6146046.36811973 2953860.48562752
 4668348.93219468 3157990.23510332 9757173.0670273  4036254.4535724
 6514401.99687627 5449468.82735693 3218621.5536579  4676624.53522557
 2837072.05084237 3439812.53847542 5622127.53154993 5537709.51720702
 4733529.89413044 3110170.29079538 5571839.59076182 5203744.15160958
 3419786.05274278 8134586.7683099  7062758.60421665 3586653.61358215
 3010430.66517036 2640349.04372764 7814424.60294516 5386375.02348849
 4375386.09715055 5429678.36005669 7023924.92341272 5962095.36148689
 2960877.45394972 6138675.73552245 4510629.84573379 7272302.09205885
 7330868.7011367  7746519.05656459 3637573.18547982 3514587.67329021
 6152324.2780799  5538254.1822168  3358294.5192147  3981822.50442026
 3714335.95930433 4014164.05423017 3372821.96249549 2905033.01393713
 4256907.15842862 2354660.44762366 2619537.56734305 4234385.27122235
 5813518.78527676 3309894.94977013 3810771.28786738 6018304.53014717
 3121087.12118976]

In [ ]:
ac=linear_model.score(x,y)

In [ ]:
print(ac)

0.6781361742319786

In [ ]:
nwe_data={'airconditioning':1,'area':8978,'bedrooms':1,'bathrooms':1,'stories':1,'mainroad':0,'guestroom':1,'basement':1,'hotwaterheating':1,'parking':1,'prefarea':0,'furnishingstatus':1}
ndata={'airconditioning':1,'area':8978,'bedrooms':0,'bathrooms':0,'stories':0,'mainroad':0,'guestroom':1,'basement':1,'hotwaterheating':1,'parking':1,'prefarea':0,'furnishingstatus':1}

In [ ]:
index=[1]
mdata=pd.DataFrame(nwe_data,index)
index=[2]
nndata=pd.DataFrame(ndata,index)

In [ ]:
pre=linear_model.predict(mdata)
pre1=linear_model.predict(nndata)

In [ ]:
print(pre,pre1)

[6256006.28166235] [4711626.00759987]